@keyframes underlineSlide {
  0% {
    width: 0%;
    left: 0;
  }
  50% {
    width: 100%;
    left: 0;
  }
  100% {
    width: 0%;
    left: 100%;
  }
}

.animated-underline {
  position: relative;
  display: inline-block;
}

.animated-underline::after {
  content: '';
  position: absolute;
  left: 0;
  bottom: -1.5px; /* smaller offset */
  height: 1.5px;
  width: 0%;
  background-color: #6366f1;
  transition: all 0.3s ease-in-out;
}

.group:hover .animated-underline::after {
  animation: underlineSlide 0.6s ease-in-out forwards;
}
